<launch>

  <rosparam file="$(find AMR_1_description)/launch/controller.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    args="Revolute_3_position_controller Revolute_4_position_controller joint_state_controller " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/AMR_1/joint_states" />
  </node>
</launch>